In [ ]:
import pandas as pd
import json

In [ ]:
with open('reddit_jokes.json', 'r') as file:
    data = json.load(file)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

,body,id,score,title
0,"Now I have to say ""Leroy can you please paint ...",5tz52q,1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,5tz4dd,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,5tz319,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,5tz2wj,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,5tz1pc,0,You hear about the University book store worke...

In [ ]:
import random
random.seed(42)

In [ ]:
df_shuffled = df.sample(frac=1, random_state=42).reset_index(drop=True)
df_shuffled.head(500)

,body,id,score,title
0,He has the lady go to the back of the car to l...,2ojt3l,0,[Blonde Joke] So this guy's helping a blonde f...
1,If he says he can do something in the blink of...,2e4djx,1,NEVER challenge a chinese man
2,A pulse.,418cpp,14,One thing you should always look for in a woman.
3,THEN\n\n**Led Zeppelin - Stairway to Heaven**\...,3cd3oo,0,"Song lyrics, then and now."
4,then it hit me,2y24uy,5,I wondered why the baseball was getting bigger
...,...,...,...,...
495,but it takes a great man to shit on the ceiling,3n0fed,10,Anybody can piss on the floor
496,resent my inability to let go of my grudges. ^...,4sdc4r,0,I always have and always will...
497,"Oops, wrong sub",36joza,5,TIFU by getting meatball marinara instead of s...
498,your mom sucks at both,4kz3ri,2,Football is like Sex
499,A man walks into a bar and hears piano music. ...,29a95h,5,A guy walks into a bar...

In [ ]:
# Select 500 rows
df_shuffled_500 = df_shuffled.head(500)

# Save as JSON
df_shuffled_500.to_json('df_shuffled_500.json', orient='records')

In [ ]:
# First Data
df_part1 = df_shuffled[:250]

# Second Data
df_part2 = df_shuffled[250:500]

# Save as Xlsx
df_part1.to_excel('df_part1.xlsx', index=False)
df_part2.to_excel('df_part2.xlsx', index=False)

In [ ]:
# Combined Title and Body
def combine_title_and_body(row):
    return 'Title: ' + row['title'] + '\n\n' + "Body: " + row['body']
df_shuffled['TitleWithBody'] = df_shuffled.apply(combine_title_and_body, axis=1)

In [ ]:
df_shuffled

,body,id,score,title,TitleWithBody
0,He has the lady go to the back of the car to l...,2ojt3l,0,[Blonde Joke] So this guy's helping a blonde f...,Title: [Blonde Joke] So this guy's helping a b...
1,If he says he can do something in the blink of...,2e4djx,1,NEVER challenge a chinese man,Title: NEVER challenge a chinese man\n\nBody: ...
2,A pulse.,418cpp,14,One thing you should always look for in a woman.,Title: One thing you should always look for in...
3,THEN\n\n**Led Zeppelin - Stairway to Heaven**\...,3cd3oo,0,"Song lyrics, then and now.","Title: Song lyrics, then and now.\n\nBody: THE..."
4,then it hit me,2y24uy,5,I wondered why the baseball was getting bigger,Title: I wondered why the baseball was getting...
...,...,...,...,...,...
194548,Baseball; he's a pitcher.,38zqwe,19,What sport does the kool-aid man play?,Title: What sport does the kool-aid man play?\...
194549,I cannot breath. This only works because I am ...,3ixurb,0,Gasps,Title: Gasps\n\nBody: I cannot breath. This on...
194550,"Bear walks in a bar. Bartender ask ""what can I...",31q7yv,0,Bear Walks in a Bar,Title: Bear Walks in a Bar\n\nBody: Bear walks...
194551,A guy is fucking his girlfriend and asks her i...,2szmk9,0,Broadening sexual horizons,Title: Broadening sexual horizons\n\nBody: A g...
194552,**None**. They operate in the **dark**.,37fzdv,15,How many FIFA officials does it take to change...,Title: How many FIFA officials does it take to...

In [ ]:
print(df_shuffled['body'][501:])

501
502                                         By using force.
503       Apparently my local radio station had an annou...
504                                     Hi honey, I'm home.
505                        Leonardo DiCaprio's Oscar shelf.
                                ...
194548                            Baseball; he's a pitcher.
194549    I cannot breath. This only works because I am ...
194550    Bear walks in a bar. Bartender ask "what can I...
194551    A guy is fucking his girlfriend and asks her i...
194552              **None**. They operate in the **dark**.
Name: body, Length: 194052, dtype: object

In [ ]:
df_part1 = pd.read_excel('df_part1_exploration_original.xlsx')
df_part2 = pd.read_excel('df_part2_evaluation_original.xlsx')

In [ ]:
# Combined two datasets
df_combined = pd.concat([df_part1, df_part2], ignore_index=True)
df_combined.to_excel('combined_exploration_original.xlsx', index=False)
print("Combined file saved successfully.")

Combined file saved successfully.

In [ ]:
# df_combined를 엑셀 파일로 저장
df_combined.to_excel('combined.xlsx', index=False)

# 파일이 성공적으로 저장되었음을 출력
print("DataFrame successfully saved as Excel file.")

DataFrame successfully saved as Excel file.